version: '3'

services:
  mysql:
    build: ./docker/mysql
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
    command: --sql_mode="" --lower-case-table-names=1 --log_bin_trust_function_creators=1
    networks:
      foodbank:
        aliases:
          - db

  phpmyadmin:
    image: phpmyadmin
    ports:
      - "8068:80"
    networks:
      - foodbank

  frontend:
    image: foodbank-client
    ports:
      - "80:80"
      - "443:443"
    expose:
      - "80"
      - "443"
    environment:
      - SERVER_NAME=${SERVER_NAME}
      - BACKEND_HOST=${BACKEND_PROXY_HOST}
      - BACKEND_PORT=${BACKEND_PROXY_PORT}
      - AUTH_HOST=${AUTH_PROXY_HOST}
      - AUTH_PORT=${AUTH_PROXY_PORT}
      - WILDFLY_HOST=${WILDFLY_PROXY_HOST}
      - WILDFLY_PORT=${WILDFLY_PROXY_PORT}
      - ADMIN_HOST=${ADMIN_PROXY_HOST}
      - ADMIN_PORT=${ADMIN_PROXY_PORT}
    volumes:
      - letsencrypt-data:/home/letsencrypt/data
      - letsencrypt-certs:/home/letsencrypt/certs
    networks:
      - foodbank

  backend:
    depends_on:
      - mysql
    build: ./
    ports:
      - "8081:8081"
      - "8000:8000"
    expose:
      - "8081"
    environment:
      - MYSQL_HOST=${MYSQL_HOST}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
      - AUTH_SERVER_BASE_URL=${AUTH_SERVER_BASE_URL}
      - DATASOURCE_USERNAME=${MYSQL_USER}
      - DATASOURCE_PASSWORD=${MYSQL_PASSWORD}
      - SMTP_USER=${BACKEND_SMTP_USER}
      - SMTP_PASSWORD=${BACKEND_SMTP_PASSWORD}
    networks:
      - foodbank

  keycloak:
    depends_on:
      - mysql
    build:
      context: ./foodbank-keycloak-user-provider/docker
    ports:
      - "8083:8080"
      - "8443:8443"
      - "8788:8787"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - DEBUG_PORT=*:8787
      - DEBUG=true
      - KEYCLOAK_ADMIN=${KEYCLOAK_USER}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_PASSWORD}
      - KC_HTTP_RELATIVE_PATH=/auth
      - DB_VENDOR=h2
      - KEYCLOAK_IMPORT=/import/realm/foodBank-realm.json
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ADDITIONAL_PARAMS=${MYSQL_ADDITIONAL_PARAMS}
      - JAVA_OPTS_APPEND=-Dkeycloak.userCache.enabled=false
      - REDIRECT_URIS=${REDIRECT_URIS}
      - REDIRECT_URIS_ISIS=${REDIRECT_URIS_ISIS}
      - AUTH_SERVER_BASE_URL=${AUTH_SERVER_BASE_URL}
      - BARCODE_SECRET=NotNeededInLegacy
      - OLD_APP_URL=${OLD_APP_URL}
      - NEW_APP_URL=${NEW_APP_URL}
    networks:
      - foodbank

  wildfly:
    depends_on:
      - mysql
      - keycloak
    image: foodbank-stock-app-wildfly
    environment:
      - ADMIN_PASS=${WILDFLY_ADMIN_PASS}
      - KEY_PASSWORD=${WILDFLY_KEY_PASSWORD}
      - KEYSTORE_PASSWORD=${WILDFLY_KEYSTORE_PASSWORD}
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_PORT=${MYSQL_PORT}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ADDITIONAL_PARAMS=${MYSQL_ADDITIONAL_PARAMS}
      - AUTH_SERVER_BASE_URL=${AUTH_SERVER_BASE_URL}
      - SERVER_NAME=${SERVER_NAME}
      - SERVER_PORT=${SERVER_PORT}
      - SERVER_PROTOCOL=${SERVER_PROTOCOL}
      - JAVA_OPTS=${WILDFLY_JAVA_OPTS}
    ports:
      - "10080:8080"
      - "10443:8443"
      - "10990:9990"
      - "10787:8787"
    networks:
      - foodbank

networks:
  foodbank:
    name: foodbank-network

volumes:
  mysql-data:
  letsencrypt-data:
  letsencrypt-certs:
